<nav class="navbar navbar-expand-lg navbar-light bg-primary fixed-top justify-content-between">
    <div class="container-fluid">
        <a class="navbar-brand text-white">Blogger</a>

        <div class="d-flex flex-row mr-0">
            {{#if this.showUserMenu}}
                <div class="px-2">{{this.user.username}}</div>

                <LinkTo @route="logout" class="btn btn-primary btn-sm">Logout</LinkTo>
            {{/if}}

            <div class="px-2">
                <ThemeToggle />
            </div>
        </div>
    </div>
</nav>